<form class="form-enlist">
  <h2 class="form-enlist-heading">Recruit Information</h2>

  {{#if hasCreateFailures}}
  <div class="alert alert-dismissable alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <ul>
      {{#each creationErrors.generalFailures}}
      <li>{{message}}</li>
      {{/each}}
    </ul>
  </div>
  {{/if}}

  {{text-input inputId="email"
               type="email"
               placeholder="Email Address"
               valueBinding="emailAddress"
               errorsBinding="errors.emailAddress"
               label="Email Address:"}}

  {{text-input inputId="handle"
               type="text"
               placeholder="Handle"
               valueBinding="handle"
               errorsBinding="errors.handle"
               label="Handle:"}}

  {{text-input inputId="fullName"
               type="text"
               placeholder="Full Name"
               valueBinding="fullName"
               errorsBinding="errors.fullName"
               label="Full Name:"}}

  {{text-input inputId="password"
               type="password"
               placeholder="Password"
               valueBinding="password"
               errorsBinding="errors.password"
               label="Password:"}}

  {{text-input inputId="passwordConfirmation"
               type="password"
               placeholder="Confirm Password"
               valueBinding="passwordConfirmation"
               errorsBinding="errors.passwordConfirmation"
               label="Confirm Password:"}}

  <label class="checkbox">
    {{input type="checkbox" checked=termsAccepted}} I acknowledge that by enlisting I agree to be randomly shot by nerf darts
  </label>

  <button class="btn btn-lg btn-primary btn-block" type="submit" {{action save}} {{bind-attr disabled=cantSubmit}}>Enlist</button>
</form>